@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pet Adoption and Foster Centres New Zealand</h1>
    <p></a>Where every pet feels safe</p>
</div>
