@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    We collect personal information from you, including information about your:
    name

    We collect your personal information in order to:
    to see who is has an account with us


    We keep your information safe by storing in files and only allowing certain org personnal access it .

    You have the right to ask for a copy of any personal information we hold about you, and to ask for it to be corrected if you think it is wrong. If you’d like to ask for a copy of your information, or to have it corrected, please contact us at ac122391@avcol.school.nz, 
</p>