@model _13TPI_Pet_Adoption_and_Foster_Centre_NZ.Models.MedicalRecord

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MedicalRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        < form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PetID" class="control-label"></label>
                <input asp-for="PetID" class="form-control" />
                <span asp-validation-for="PetID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VetName" class="control-label"></label>
                <input asp-for="VetName" class="form-control" />
                <span asp-validation-for="VetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClinicName" class="control-label"></label>
                <input asp-for="ClinicName" class="form-control" />
                <span asp-validation-for="ClinicName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisitDate" class="control-label"></label>
                <input asp-for="VisitDate" class="form-control" />
                <span asp-validation-for="VisitDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diagnosis" class="control-label"></label>
                <input asp-for="Diagnosis" class="form-control" />
                <span asp-validation-for="Diagnosis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Treatment" class="control-label"></label>
                <input asp-for="Treatment" class="form-control" />
                <span asp-validation-for="Treatment" class="text-danger"></span>
            </div>
            <label asp-for="StatusName" class="control-label"></label>
            <input asp-for="StatusName" class="form-control" />
            <span asp-validation-for="StatusName" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="MicrochipID" class="control-label"></label>
                <input asp-for="MicrochipID" class="form-control" />
                <span asp-validation-for="MicrochipID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialNeeds" class="control-label"></label>
                <input asp-for="SpecialNeeds" class="form-control" />
                <span asp-validation-for="SpecialNeeds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </ form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
