@model _13TPI_Pet_Adoption_and_Foster_Centre_NZ.Models.Franchise

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Franchise</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FranchiseID" />
            <div class="form-group">
                <label asp-for="FranchiseName" class="control-label"></label>
                <input asp-for="FranchiseName" class="form-control" />
                <span asp-validation-for="FranchiseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNo" class="control-label"></label>
                <input asp-for="ContactNo" class="form-control" />
                <span asp-validation-for="ContactNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationID" class="control-label"></label>
                <input asp-for="LocationID" class="form-control" />
                <span asp-validation-for="LocationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperatingHours" class="control-label"></label>
                <input asp-for="OperatingHours" class="form-control" />
                <span asp-validation-for="OperatingHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerID" class="control-label"></label>
                <input asp-for="OwnerID" class="form-control" />
                <span asp-validation-for="OwnerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
